# dnn-service gitignore
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*~
img-client
asr-client
nlp-client
dnn-server*

# Popular scripts with hardpaths
run-*.sh
socket-lib/lib.sh
socket-lib/deploy.sh
asr/kaldi_patch.sh

# datasets
*/weights/*
*/images/*
*/hash/*
*/input/*
*/data/*
*/voxforge_data/*

# misc
*/log/*
*.csv
