# dnn-service gitignore
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*~
tonic-img
tonic-nlp

# Popular scripts with hardpaths
asr/kaldi_patch.sh

# datasets
*/weights/*
*/images/*
*/hash/*
*/input/*
*/data/*
*/log/*
*/voxforge_data/*

# csvs and txts
*.csv
*.txt
stats-util/
nvprof-*
